.vertical-align {
	/* вертикальное позиционирование в процентах не работает в случае,
	 если высота родительского блока не определена */
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

html, body {
	font-family: 'Open Sans', sans-serif;
	min-height:100%;
}

* {
	box-sizing: border-box;
}

@media screen {
	main {
		background: #2e3436;
		position: relative;
		box-sizing: border-box;
		margin: auto;
		max-width: 1300px;
		min-width: 1024px;
		padding:0 13%;
		text-align: center;

		section {
			.vertical-align;
			input[type="text"] {
				background: #006c90;
				color: #fff;
				border: 3px solid #fff;
				margin: auto;
				box-shadow: inset 0px 0px 24px 0px rgba(255,255,255,0.75);
				text-align: center;
			}

			::-webkit-input-placeholder,
			::-moz-placeholder {
				color:#6dc1ec;
			}

			h1, h2 {
				color: #fff;
				text-shadow: -1px 1px 5px rgba(0, 108, 144, 0.75);
				margin-top: 0;
			}
			h2 {
				margin-bottom: 0;
			}
		}

	}

	@media (max-height: 699px) {
		main {
			min-height:400px;
			// fix for vertical-align
			height:1px;
			// endfix
			section {
				input[type="text"], 
				.slab {
					vertical-align: middle;
					display: inline-block;
					width: 49%;
				}
				input[type="text"] {
					width: 49%;
				}
			}
		}
	}

	@media (min-height: 599px) {
		main {
			height: 100vh;
			section {
				input[type="text"], 
				.slab {
					display: block;
					width: 100%;
				}
			}
		}
	}

	@media (max-height: 599px) {
		main {
			max-width: inherit;
			padding: 1% 0;
		}
	}
}